@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');



/* header start */

 h1{
    font-family:'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #B50717;
    text-align: center;
    margin-left: -22%;
    
    text-shadow: 3px 3px 10px #333;
    /* box-shadow: #333; */

    
}

/* .drug{
    font-size: 50px;
} */
header {
    position: fixed;
    top: 0%;
    background-color: #bfbfbf;
    width: 100%;
    height:220px;
    margin-bottom: 200px;
    /* text-shadow:  2px 2px #333; */
    z-index: -1;
}
header img{
    float: left;
 margin-top: -48%;
    width: 100%;
    /* height: 80%; */
    
}


header ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    background-color: #333;
   }
  header li {
    display: inline-block;
    padding: 10px;
   }
  header li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   /* Change the link color to #111 (black) on hover */
   li a:hover {
       background-color:#B50717 ;
    
   }
   /* header end  */



/* main start */
main {
    margin-top: 300px;

}
body{
    font-family:'Quicksand', sans-serif;
    background-image: url('../img/slate-background-with-scale-copy-space.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    padding:0;
    margin:0;
 
}

form {
    margin-top: 20px;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 500px;
    height: 435px;
    padding: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgba(191, 191,191, 0.507);
}



h2{
    margin: 0;
    padding : 10px 0 20px;
    color : #B50717;
    text-align: center;
}
fieldset {

    border-radius: 30px;
    width: 275px;
    height: 237px;
    text-align: center;
    margin-left: 12%;
    
}

.weightBMI{
    padding: 7px;
    border: none;
    
    background: transparent;
    outline: none;
    height: 40px;
    color: #B50717;
    font-size: 16px;

}
.heightBMI{
    padding: 7px;
    border: none;
   
    background: transparent;
    outline: none;
    height: 40px;
    color: #B50717;
    font-size: 16px;
}
 #button{
    border-radius: 12px;
}

#reset{
    border-radius: 12px;
}

.result{ 
    position:absolute;
font-family: 'Quicksand', sans-serif;
color: #B50717;
font-size:20px;
width:50%;
left:20%;
top:70%;
text-align: center;

}
#formweight input[type="text"]{
    width: 75%;
    padding: 8px 8px;
    margin: 6px 0;
    border-radius: 16px;
    box-sizing: border-box;



}

#formweight input[type="button"]{
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
    margin-top: 4px;
    background: #B50717;
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 15px;
}

#formweight input[type="button"]:hover{
    background: #333333;
    color: #bfbfbf;
}

#formweight a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

}

#formweight input[type="reset"]{
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
    /* margin-top: -2%;
    margin-left: 15px ; */
    background: #B50717;
    cursor: pointer;
    border-radius: 12px;
    
    padding: 8px 15px;
}

#formweight input[type="reset"]:hover{
    background: #333333;
    color: #bfbfbf;
}

#formweight a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

}
